<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheet/Welcome.css" type="text/css">

</head>

<body>
  <h1>Welcome, <%= user.fullname %>!</h1>
  <p>You have successfully signed up!</p>
  <div class="Sign-in">
    <button class="button"><a href="/">Click here to sign in</a></button>
  </div>
</body>

</html>